.styleguide{
    width: 900px;
        margin: 0 auto;
    div{
        margin-bottom: 10px;
        padding-bottom: 10px;
    }

    .wrapper{
        margin-bottom: 20px;
        border-bottom: 1px solid #fff;
    }
    li{
        display: inline-block;
        margin-right: 20px;;
    }
}