$bg-gray: #23242b;
$bg-selections: #2c3034;
$graphite: #5a627c;
$title-bg: #27292f;
$active-blue: #2f80ed;
$err: #eb5757;

$soft-blue: #eef1f6;
$charcoal: #76797e;
$purple: #8446c2;
$green: #6bc969;
$yellow: #f2ff00;
$gray: #d5d5d5;
$text-color: #76797e;
