$bg-gray: #23242B;
$bg-selections: #2C3034;
$graphite: #5A627C;
$title-bg: #27292F;
$active-blue: #2F80ED;
$err: #EB5757;

$soft-blue: #EEF1F6;
$charcoal: #76797E;
$purple: #8446C2;
$green: #6BC969;
$yellow: #F2FF00;
$gray: #D5D5D5;
