@import './colors.scss';
// @TODO - temporary path
$img-path: './icons/img/';
body {
    font-size: 14px;
    font-weight: 400;
}

h1,
h2 {
    font-weight: 700;
}

h1 {
    font-size: 48px;
    line-height: 56px;
}
h2 {
    font-size: 32px;
}

h3,
h4 {
    font-weight: 500;
}

h3 {
    font-size: 24px;
}

h4,
h5 {
    font-size: 20px;
}

h5 {
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
    margin-top: 0;
    padding-top: 0;
    span {
        margin: 0 10px;
    }
    .filter {
        padding: 1px 10px;
        font-weight: normal;
        &:hover {
            border: 1px solid transparent;
        }
    }
}

p {
    margin-top: 0;
    padding-top: 0;
}

.weight-700 {
    font-weight: 700 !important;
}

.weight-500 {
    font-weight: 500 !important;
}

.weight-400 {
    font-weight: 400 !important;
}

.weight-300 {
    font-weight: 300 !important;
}

.subtitle {
    font-size: 14px;
    font-weight: 700;

    &._medium {
        font-weight: 400;
    }

    &._small {
        font-weight: 400;
    }

    &._smal_bold {
        font-weight: 700;
    }
}

.subheading {
    font-size: 16px;
    font-weight: 400;

    &._medium {
        font-size: 14px;
    }
}

.caption {
    font-weight: 300;
    font-size: 12px;
    &._small {
        font-weight: 500;
        font-size: 10px;
    }
}

button {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    border: none;
    padding: 8px 16px;
    color: #fff;
    outline: none;
    cursor: pointer;
    background: none;
    transition: background-color 0.2s ease-in-out;
    border-radius: 4px;
    i,
    span {
        display: inline-block;
        vertical-align: middle;
    }
    &.icon {
        padding: 3px;
    }

    &:disabled {
        color: $charcoal;
        cursor: not-allowed;
        background: transparent;
    }

    &:hover {
        background: $bg-selections;
    }

    &.blue {
        color: $active-blue;
    }

    &.red {
        color: $err;
    }

    &.filled {
        color: #fff;
        &.blue {
            background: $active-blue;
            &:disabled {
                background: rgba($active-blue, 0.38);
                color: rgba(#fff, 0.38);
            }
        }
    }

    &.info {
        span {
            color: rgba(#fff, 0.7);
            transition: all 0.2s ease-in-out;
            &:first-child {
                margin-right: 10px;
            }
            &:last-child {
                color: rgba(#fff, 0.5);
            }
        }

        &.active,
        &:hover {
            background: $bg-selections;
            span {
                color: rgba(#fff, 1);
            }
        }
    }
}

span {
    &.icon {
        i,
        span {
            vertical-align: middle;
            display: inline-block;
        }
        i {
            margin-right: 5px;
        }
    }
}

.filter {
    background: $graphite;
    border: 1px solid $graphite;
    border-radius: 12px;
    color: #fff;
    display: inline-block;
    padding: 3px 10px;
    vertical-align: middle;
    font-size: 14px;
    height: 24px;

    &:hover {
        border: 1px solid $gray;
    }
    span {
        margin-right: 5px;
    }
}

.info-text {
    padding: 5px 15px;
    border-radius: 4px;
    background: rgba($active-blue, 0.1);
    color: $active-blue;
}

.icon {
    span,
    i,
    svg {
        vertical-align: middle;
    }
}

// ===== Form elements =====
input {
    &[type='text'],
    &[type='password'] {
        border: 1px solid $graphite;
        border-radius: 4px;
        background: $bg-gray;
        color: $charcoal;
        padding: 10px 15px;
        font-size: 14px;
        width: 100%;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2), 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12);
        transition: all 0.2s ease-in-out;
        color: #fff;
        &:focus {
            border: 1px solid $gray;
        }
    }
}

.select-dropdown {
    label {
        margin-bottom: 15px;
        display: inline-block;
    }
}

.clear {
    clear: both;
    font-size: 0;
    width: 100%;
    height: 0;
}

.union-list {
    li {
        display: inline-block;
        margin-right: 0;

        button {
            border: 1px solid rgba($gray, 0.38);
            transition: all 0.2s ease-in-out;
            border-radius: 0;

            &:hover,
            &.active {
                border: 1px solid $gray;
            }
        }

        &:first-child {
            button {
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
            }
        }

        &:last-child {
            button {
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
            }
        }
    }
}

.btn-group {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    span {
        line-height: 30px;
        margin-right: 10px;
    }
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    min-width: 10rem;
    font-size: 14px;
    background: $bg-selections;
    text-align: left;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2), 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12);
    font-weight: 700;
    button {
        display: block;
        width: 100%;
        color: #fff;
        border-radius: 0;
        i {
            &:first-child {
                margin-right: 10px;
            }
            &:last-child {
                margin-left: 10px;
            }
        }

        &:hover {
            background: rgba(144, 147, 185, 0.1);
        }
    }

    &.show {
        display: block;
    }
}

.dropleft {
    .dropdown-menu {
        top: 30px !important;
        left: 27px !important;
    }
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    font-weight: 500;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    height: 50px;
    background-color: transparent;
    border: 0;
}

i {
    &.tooltip-info {
        display: inline-block;
        width: 12px;
        height: 12px;

        background: url('#{$img-path}/info-default.png') left top no-repeat;
        &:hover {
            background: url('#{$img-path}/info-hover.png') left top no-repeat;
        }
    }
}

.tooltip {
    color: #fff;
    cursor: pointer;
    .tooltip-data {
        background: $graphite;
        max-width: 280px;
        padding: 16px;
        font-size: 12px;
        line-height: 14px;
        border-radius: 4px;
        &:after,
        &:before {
            display: none;
        }
    }
}
